body {
    color: gray;
    font-size: 20px;
}

#header {
    width: 960px;
    height: 70px;
    margin: 0 auto;
    padding-top: 30px;
}

#mainlogo {
    display: inline-block;
}

#mainlogoimages {
    display: inline-block;
}

#textlogo {
    display: inline-block;
}

#textlogo h1 {
    font-family: 'Yellowtail', cursive;
    color: black;
    font-size: 50px;
}

#textlogo h2 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 10px;
}

#iconlist {
    float: right;
    vertical-align: top;
    margin-top: 20px;
}

#border {
    margin-top: 30px;
    width: 960px;
    height: 12px;
    background-image: url("../img/hrimg.png");
}

main {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

#title {
    font-family: 'PT Sans Narrow', sans-serif;
    margin-bottom: 25px;
}

#title h1 {
    font-size: 50px;
    color: black;
    font-weight: bolder;
}

#title p {
    display: inline-block;
    font-size: 17px;
}

#printpic {
    float: right;
    font-size: 10px;
}

article p {
    margin-top: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 2rem;
    text-indent: 2em;
}

#recipielist {
    width: 960px;
    height: 300px;
    background-image: url("../img/listbg.png");
    background-size: cover;
    margin-top: 50px;
    box-shadow: 5px 10px 8px #888888;
    margin-bottom: 60px;
}

#left